h1{
        color: darkorchid;
        font-weight: 600;
        text-shadow: 0 10px white, 0 10px #777;
        margin: 1em 0 0,5 em 0;
        font-family: 'Titillium Web, sans-serif';
        position: relative;
        font-size: 36px;
        line-height: 40px;
        padding: 15px 15px 15%;
        color: darkblue;
        box-shadow: 
        inset
}
p{
    color:darkblue;
        text-shadow: 0 10px white, 0 10px #777;
}
